@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; 
}

#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  transition: opacity 0.4s ease;
  
}