@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sembunyikan scrollbar untuk Chrome, Safari, dan Edge */
::-webkit-scrollbar {
  display: none;
}

#app-container { /* Gunakan id yang sama seperti di App.vue */
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 120px; /* Contoh: 100px (header) + 20px (jarak) */
}

/* Sembunyikan scrollbar untuk Firefox */
html {
  scrollbar-width: none; /* atau 'none' */
  overflow: -moz-scrollbars-none; /* Untuk versi lama Firefox */
}
