@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sembunyikan scrollbar untuk Chrome, Safari, dan Edge */
::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk Firefox */
html {
  scrollbar-width: none; /* atau 'none' */
  overflow: -moz-scrollbars-none; /* Untuk versi lama Firefox */
}

.galaxy-outline-moving {
  position: relative;
  overflow: hidden;
}

.galaxy-outline-moving::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.75rem;
  padding: 1.5px; /* tebal outline */
  background: linear-gradient(45deg, #4fc3f7, #6a5acd, #c77dff, #4fc3f7);
  background-size: 400% 400%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
  animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}